.Main {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.main-upper {
  text-align: center;
  flex: 10;
}

.main-lower {
  height: 15vh;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  align-items: center;
  
  .data {
    margin-top: 1vh;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }

  .data-txt {
    margin: 0;
    align-self: center;
  }

  .button {
    flex: 2;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /* Dark header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb; /* Blue links */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}